*{
    margin: 0;/* espacion entre componetes*/
    padding: 0;
    
    
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;/* */
    align-items: center;/* coloca al centro hacia abajo  */
    justify-content: center;/* ajusta al centro */
    min-height: 100vh;/* hacia abajo 100vh*/
    background-image: url(../img/Fondo1.jpg);/* imagen de fondo*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.Formulario{
    border-radius: 5%;/* bordes redondos del formulario*/
    display: flex; /* */
    flex-direction: column;/* que solo sea una columna */
    background:transparent;
    backdrop-filter: blur(25px);
    padding: 20px 25px;/*20px de alto y 25 de ancho */
    place-items: center;/* para centrar componetes del  formulario*/
   
}
.titulo{
    color: rgb(255, 255, 255);
   

}
.titulo1{
    color: rgb(255, 255, 255);
    padding: 2vh;

}

.Label{
    margin-bottom: 30px;
    background: transparent;
}
i{
    font-size: 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
}
input{
    border: none;/* quitar los bordes*/
    color: black;
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 0 5px;
    background: transparent;
    backdrop-filter: blur(15px);
}
::placeholder{
    color: rgb(255, 255, 255);
    
}
a{
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.Boton{
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    margin: 10px;
    background-color: rgb(62, 69, 69);
    border-style: none;
   
}
.Logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#Inicio{
    padding: 5px 5px;
    
}


